<a href="/movies">Go back</a>
<p>Stars</p>

{{#each movieDet}}
<img src="{{image}}">
<h3>{{title}}</h3>
<h4>{{director}}</h4>


<ul>
    {{#each this.stars}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<p>{{description}}</p>

<p>{{this.showtimes}}</p>
{{/each}}